{
    "endOfLine": "auto",
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 2,
    "trailingComma": "all",
    "bracketSpacing": true,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": [
                "*.json",
                "*.jsonc"
            ],
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}